@model IEnumerable<DataEntity.TBL_KULLANICI>
@{
    ViewBag.Title = "GetKullaniciList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table id="kullaniciListTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Mail</th>
            <th scope="col">Telefon</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Şifre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
            <tr>
                <th>@k.ID</th>
                <th>@k.AD</th>
                <th>@k.SOYAD</th>
                <th>@k.MAIL</th>
                <th>@k.TELEFON</th>
                <th>@k.KULLANICI_ADI</th>
                <th>@k.SIFRE</th>
            </tr>
        }
    </tbody>
</table>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

@section scripts{

    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#kullaniciListTable").DataTable({
                fixedHeader: {
                    header: true
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Excel <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>'
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>'
                    },

                    'copy',
                    'pdf',
                    'colvis'
                ],
            });
        });

    </script>
}